@model Kunigi.ViewModels.Auth.LoginViewModel

@{
    ViewData["Title"] = "Σύνδεση";
}

<div class="form-container">
    <h2 class="mb-4 text-center">Σύνδεση</h2>

    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
        <div class="form-group mb-4">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control @(ViewData.ModelState["Email"] != null ? "is-invalid" : "")"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control @(ViewData.ModelState["Password"] != null ? "is-invalid" : "")"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Σύνδεση</button>
    }
</div>