@model TeamManagerEditViewModel

@{
    ViewData["Title"] = $"Διαχειριστές {Model.TeamName}";
}

<style>
    .card {
        height: 100%;
    }
    
    .list-group-item {
        word-break: break-all;
    }
</style>

<h2 class="mb-4 text-center">@ViewData["Title"]</h2>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Προσθήκη Διαχειριστή</h4>
                    @using (Html.BeginForm("EditTeamManagers", "Team", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Slug)
                        <div class="mb-3">
                            <input type="text" id="filterInput" placeholder="Φίλτρο" class="form-control mb-2"/>
                            <select asp-for="SelectedManagerId" asp-items="Model.ManagerSelectList" class="form-select" id="managerSelect">
                            </select>
                            <span asp-validation-for="SelectedManagerId" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Προσθήκη</button>
                        <button class="btn btn-secondary" id="previous-page-button">Πίσω</button>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Λίστα Διαχειριστών</h4>
                    @if (Model.ManagerList.Any())
                    {
                        <ul class="list-group">
                            @foreach (var item in Model.ManagerList)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @item.Email
                                    @using (Html.BeginForm("RemoveManager", "Team", new { teamSlug = Model.Slug }, FormMethod.Post, false, new { @class = "d-inline" }))
                                    {
                                        <input type="hidden" name="managerId" value="@item.Id"/>
                                        <button type="submit" class="btn btn-danger btn-sm">Αφαίρεση</button>
                                    }
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-muted">Δεν υπάρχουν διαχειριστές.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterInput = document.getElementById('filterInput');
        const managerSelect = document.getElementById('managerSelect');

        filterInput.addEventListener('input', function() {
            const filterValue = filterInput.value.toLowerCase();
            const options = Array.from(managerSelect.options);

            options.forEach(option => {
                const optionText = option.text.toLowerCase();
                option.style.display = optionText.includes(filterValue) ? '' : 'none';
            });
        });
    });
</script>