@model List<TeamDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείριση Ομάδων";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>@ViewData["Title"]</h3>

    <div class="d-flex justify-content-between align-items-center">
        <input type="text" id="search-filter" class="form-control me-2" placeholder="Αναζήτηση" style="max-width: 250px">

        <a class="btn btn-primary"
           asp-controller="Team" asp-action="CreateTeam">
            Δημιουργία
        </a>
    </div>
</div>

@if (Model == null || Model.Count == 0)
{
    <h3 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h3>
}
else
{
    <div id="data-container" class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var team in Model)
        {
            <div class="col data-item" data-item-name="@team.Name.ToLower()">
                <a asp-controller="Team" asp-action="TeamActions" asp-route-teamSlug="@team.Slug" class="card-link">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@team.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}