@{
    ViewData["Title"] = "Διαχείριση";
}

<style>
    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-body i {
        font-size: 1.5rem;
        color: #2c3e50;
    }
</style>

<h2 class="mb-4">@ViewData["Title"]</h2>
<h4 class="mb-4">Γενική Διαχείριση</h4>

@if (User.IsInRole("Admin"))
{
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
        <div class="col">
            <a asp-controller="Team" asp-action="TeamManagement" class="card-link">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Ομάδες</h5>
                        <i class="bi bi-people"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-controller="Game" asp-action="ParentGameManagement" class="card-link">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Παιχνίδια</h5>
                        <i class="bi bi-joystick"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-controller="Account" asp-action="UserManagement" class="card-link">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Χρήστες</h5>
                        <i class="bi bi-people"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

@if (User.IsInRole("Manager"))
{
    if (ViewBag.TeamList is IEnumerable<TeamDetailsViewModel> teamList)
    {
        var teamDetailsViewModels = teamList as TeamDetailsViewModel[] ?? teamList.ToArray();
        if (teamDetailsViewModels.Any())
        {
            <h4 class="mb-4">Οι Ομάδες μου</h4>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var team in teamDetailsViewModels)
                {
                    <div class="col team-item" data-team-name="@team.Name.ToLower()">
                        <a asp-controller="Team" asp-action="TeamActions" asp-route-teamSlug="@team.TeamSlug" class="card-link">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">@team.Name</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    }
}