@model PuzzleCreateViewModel

@{
    ViewData["Title"] = "Δημιουργία νέου Γρίφου";
}

<section>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 text-center">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-12 col-lg-9">
                <div class="bg-white border rounded shadow-sm overflow-hidden">

                    @using (Html.BeginForm("CreatePuzzle", "Puzzle", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                            <div class="col-12">
                                <label asp-for="Question" class="form-label"></label>
                                <textarea asp-for="Question" class="form-control" rows="6"></textarea>
                                <span asp-validation-for="Question" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Answer" class="form-label"></label>
                                <textarea asp-for="Answer" class="form-control" rows="6"></textarea>
                                <span asp-validation-for="Answer" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-md-6">
                                <label asp-for="QuestionMediaFiles" class="form-label mt-4"></label>
                                <input type="file" name="questionMediaFiles" class="form-control" multiple />
                            </div>
                            <div class="col-12 col-md-6">
                                <label asp-for="AnswerMediaFiles" class="form-label mt-4"></label>
                                <input type="file" name="answerMediaFiles" class="form-control" multiple />
                            </div>
                            <div class="col-12 col-md-6">
                                <label asp-for="Type" class="control-label">Τύπος Γρίφου</label>
                                <select asp-for="Type" asp-items="Model.PuzzleTypes" class="form-control"></select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Αποθήκευση</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>