@model Kunigi.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Σύνδεση";
}

<h2 style="text-align: center">Σύνδεση</h2>
<hr/>

<form asp-action="Login" method="post" style="max-width: 400px; margin: auto" class="mt-2" autocomplete="off">
    <div class="form-group mb-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>