@model ManageUserViewModel

@{
    ViewData["Title"] = "Διαχείριση Χρηστών";
}

<div class="d-flex flex-wrap align-items-center mb-4">
    <h2 class="mb-0 me-3 flex-grow-1">Διαχείριση Χρηστών</h2>
</div>
@if (Model == null || Model.UserList.Count == 0)
{
    <h2 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Ενέργειες</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.UserList)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("EditRoles", "Account", new { userId = user.Id })" class="btn btn-primary">Επεξεργασία Ρόλων</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}