@model Kunigi.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Εγγραφή";
}

<style>
    .register-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .register-title {
        text-align: center;
    }
    .register-button {
        width: 100%;
    }
</style>

<div class="register-container">
    <h1 class="register-title">Εγγραφή</h1>
    <h6 class="register-title">Μόνο για διαχειριστές ομάδων</h6>
    <form asp-action="Register" method="post" class="mt-4" autocomplete="off">
        <div class="form-group mb-4">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary register-button">Εγγραφή</button>
    </form>
</div>