@model ParentGameEditViewModel

@{
    ViewData["Title"] = Model.SubTitle;
}

<h2 class="mb-4 text-center">@Model.SubTitle</h2>

<div class="form-container-large">
    @using (Html.BeginForm("EditParentGame", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-12 mb-4 form-group">
                <label asp-for="SubTitle" class="form-label mt-4"></label>
                <input asp-for="SubTitle" class="form-control"/>
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>
            <div class="col-12 mb-4 form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-12 mb-4 form-group">
                <label asp-for="ProfileImageUrl" class="form-label"></label>
                <input type="file" name="profileImage" class="form-control" accept="image/png, image/jpeg"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Αποθήκευση</button>
        <button class="btn btn-secondary" id="previous-page-button">Πίσω</button>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}