@model ParentGameEditViewModel

@{
    ViewData["Title"] = Model.SubTitle;
}

<h2 class="mb-4 text-center">@ViewData["Title"]</h2>
<div class="form-container-large">
    <form asp-action="EditParentGame" asp-controller="Game" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 mb-4 form-group">
                <label asp-for="SubTitle" class="form-label"></label>
                <input asp-for="SubTitle" class="form-control mb-2"/>
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>
            <div class="col-12 mb-4 form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control mb-2" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-12 mb-4 form-group">
                <label asp-for="ProfileImageUrl" class="form-label"></label>
                <input type="file" name="profileImage" class="form-control" accept="image/png, image/jpeg"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Αποθήκευση</button>
        <a asp-controller="Game" asp-action="ParentGameActions" asp-route-gameYear="@Model.GameYear" class="btn btn-secondary">Πίσω</a>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}