@model List<GameDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείρηση Παιχνιδιών";
}

<div class="d-flex flex-wrap align-items-center mb-4">
    <h2 class="mb-0 me-3 display-5 flex-grow-1">Διαχείριση Παιχνιδιών</h2>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Τύπος Παιχνιδιού</th>
        <th>Ενέργειες</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in Model)
    {
        <tr>
            <td>@game.GameType</td>
            <td>
                <a asp-controller="Puzzle" asp-action="ManagePuzzles" asp-route-gameId="@game.Id" class="btn btn-primary">Διαχείριση Γρίφων</a>
            </td>
        </tr>
    }
    </tbody>
</table>