@model List<ParentGameDetailsViewModel>

@{
    ViewData["Title"] = "Διαχείριση Παιχνιδιών";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Dashboard">Διαχείριση</a>
        </li>
        <li class="breadcrumb-item active">Διαχείριση Παιχνιδιών</li>
    </ol>

    <div class="d-flex justify-content-between align-items-center">
        <input type="text" id="search-filter" class="form-control me-2" placeholder="Αναζήτηση" style="max-width: 250px">

        <a class="btn btn-primary"
           asp-controller="Game" asp-action="CreateParentGame">
            Δημιουργία
        </a>
    </div>
</div>

@if (Model == null || Model.Count == 0)
{
    <h4 class="mb-4 text-center">Δεν βρέθηκαν αποτελέσματα.</h4>
}
else
{
    <div id="data-container" class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var team in Model)
        {
            <div class="col data-item" data-item-name="@team.Year">
                <a asp-controller="Game" asp-action="ParentGameActions" asp-route-gameYear="@team.Year" class="card-link">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-center">@team.Year</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}